@font-face {
    font-family: "yekan";
    src: url(../miniproject1-responsive/fonts/Yekan.ttf);
}
@font-face {
    font-family: lalezar;
    src: url(fonts/Lalezar-Regular.ttf);
}

.orange{
    background-color:orangered;
}
.blue{
    background-color: rgb(73, 148, 233);
}
.violet{
    background-color: rgb(180, 74, 233);
}
.red{
    background-color: rgb(241, 65, 65);
}
.green{
    background-color: rgb(104, 226, 104);
}
.box-shadow1{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.box-shadow2{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.margin{
    margin: 5px;
}
.b-rad5{
    border-radius: 5px;
}
.p-top10{
    padding-top: 10px;
}
.b-rad10{
    border-radius: 10px;
}
.p-top30{
    padding-top: 30px;
}
.p-top40{
    padding-top: 40px;
}
.p-top50{
    padding-top: 50px;
}
.p-top60{
    padding-top: 60px;
}
.p-bot10{
    padding-bottom: 10px;
}
.p-bot20{
    padding-bottom: 20px;
}
.p-bot30{
    padding-bottom: 30px;
}
.p-bot40{
    padding-bottom: 40px;
}
.p-bot50{
    padding-top: 50px;
}
.p-right10{
    padding-right: 10px;
}
.p-right20{
    padding-right: 20px;
}
ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 10px;
    font-family: lalezar;
}

.left p{
    border: none;
    padding: 12px 15px;
    font-size: 16px;
    font-family: lalezar;
    border-radius: 10px;
    color: #fff;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.right{
    display: flex;
    align-items: center;
}
.left{
    display: inherit;
}
a{
    text-decoration: none;
}
.left a {
    display: flex;
    align-items: center;
}
.left a i{
    margin-left: 25px;
    padding: 12px 15px;
    font-size: 25px;
    background-color: rgb(230, 230, 230);
    border-radius: 15px;
    color: black;
}
.left a i:hover{
    background-color: rgb(173, 173, 173);
}
.login:hover{
    background-color: rgb(255, 123, 0);
}
.image{
    background-color:rgb(245, 184, 93);
    background-image: url(images/360_F_412179723_LnqMrSPDzzPCzlxjB2TtyHQiCWaaP8gb.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding-top: 70px;
}
.image i{
    font-size: 140px;
}

.hover:hover{
    transform: translateY(-10px);
}

.logo{
    width: 12%;
}
.container{
    text-align: center;
}
.col{
    padding: 0.5rem;
    border: 1px solid lightgray;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    transition: all 0.5s}
    .card-main{
        text-align: right;
    }
    .card-price{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    button{
        all: unset;
        background-color:rgb(255, 30, 0);
        border-radius: 10px;
        margin: 5px;
        padding: 10px 12px;
        font-size: 16px;
        color: white;
    }
    hr{
        border: none;
        background-color: rgb(199, 199, 199);
        height: 1px;
        margin-top: 10px;
    }
    button:hover{
        background-color: rgb(255, 123, 0);
        color: white;
    }
    .border{
        border: 1px solid rgb(179, 179, 179);
    }
    .center{
        text-align: center;
    }